body {
  font-family: 'Arial', sans-serif;
  background: #fff9f9;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 880px;
  margin: auto;
  padding: 20px;
}
h1 {
  color: #b2002d;
  text-align: center;
  font-size: 26px;
}
h2 {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.Note{
  font-size: 10px;
  color: #777;
}

.image {
  width: 100%;
  border-radius: 12px;
  margin: 15px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
.features {
 background: #fdfdfd;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.price-box {
  text-align: center;
  margin: 20px 0;
}
.price-box .normal {
  color: #888;
  font-size: 18px;
}
.price-box .promo span {
  color: #e60000;
  font-size: 26px;
  font-weight: bold;
}
.highlight {
  text-align: center;
  font-weight: bold;
  color: #b2002d;
  font-size: 16px;
}
.cta {
  text-align: center;
  font-weight: bold;
  color: #2e7d32;
  margin: 20px 0;
  font-size: 18px;
}
form {
  background: #fdfdfd;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}
form label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}
form input, form textarea, form select {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #aaa;
}
form button {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  background: #b2002d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  color: #777;
}
